*, body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}

body {
    background-color: #F5EBEB;
    height: 100vh;
}

.button {
    border: none;
    padding: .625em;
    border-radius: .5em;
    cursor: pointer;
}

.button:hover {
    filter: brightness(.9);
}

button:active {
    transform: translateY(2px);
}

.person-selector {
    display: flex;
    justify-content: center;
    gap: 1em;
    padding: 1em 0;
    margin: 0 auto;
    max-width: 50%;
}

.person-selector-button {
    width: 100%;
    background: #704F4F;
    opacity: .6;
    color: #F5EBEB;
    font-size: 1em;
    font-weight: 400;
    letter-spacing: .7px;
}

.active-person {
    opacity: 1;
    color: #f3f3f3;
    font-weight: 600;
    box-shadow: 0 0 10px 1px #301e1e36;
}

.chat-container {
    background-color: #D5B4B4;
    border-radius: .5em;
    padding: .75em 1.25em;
    margin: auto;
    max-width: 50%;
    height: 82%;
    box-shadow: 0 0 10px 1px #301e1e36;
}

.chat-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: .5em;
    width: 100%;
}

.chat-header-title {
    color: #482121;
    font-weight: 700;
}

.clear-chat-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
}

.chat-messages {
    height: 75%;
    overflow-y: scroll;
}

.chat-messages::-webkit-scrollbar {
    display: none;
}

.message {
    padding: .625em;
    border-radius: 1em;
    margin-bottom: .625em;
    display: flex;
    flex-direction: column;
}

.message-sender {
    font-weight: 600;
    margin-bottom: .3em;
    color: #482121;
}

.message-text {
    font-size: 1em;
    margin-bottom: .3em;
    word-wrap: break-word;
    color: #472D2D;
}

.message-timestamp {
    font-size: .75em;
    font-weight: 300;
    letter-spacing: .9px;
    text-align: right;
}

.darker-bg {
    background-color: #A77979;
    border-top-left-radius: 0;
}

.lighter-bg {
    background-color: #E4D0D0;
    border-bottom-right-radius: 0;
}

.darker-bg .message-timestamp {
    color: #E4D0D0 ;
}

.lighter-bg .message-timestamp {
    color: #704F4F;
}

.chat-input-form {
    display: flex;
    align-items: center;
    gap: .625em;
    padding-top: 15px;
}

.chat-input {
    padding: 0.625em;
    border: none;
    border-radius: .5em;
    background-color: #F5EBEB;
    color: #867070;
    font-size: 1em;
    flex-grow: 1;
}

.chat-input:focus {
    outline: solid 2px #704F4F;
}

.send-button {
    background-color: #A77979;
    color: #482121;
    font-weight: 600;
    font-size: 1em;
}

@media (max-width: 768px) {
    .person-selector {
        max-width: 80%;
    }

    .chat-container {
        max-width: 80%;
        height: 80%;
    }

    .chat-header-title {
        font-size: 1.25em;
    }
}

@media (max-width: 425px) {
    .chat-header-title {
        font-size: 1.1em;
    }

    .message-sender, .message-text {
        margin-bottom: 0;
    }

    .chat-input-form {
        padding-top: 12px;
    }

    .person-selector-button, .send-button {
        font-size: .9em;
    }
}